.Dock {
    background-color: #263238;
    opacity: 0.8;
    border-radius: 8px;
    position: absolute;
    top: 88vh;
    left: 50vw;
    transform: translate(-50%);
    height: 10vh;
    width: 50vw;
}
